{# templates/accueil/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <div class='container min-vh-100'>
        <div class='d-flex flex-wrap-reverse justify-content-between my-3'>
                <h1 class='my-3'>{{ page_title }}</h1>
                <a class='my-3 text-decoration-none' href={{'/'}}>
                    <button type='button' class='btn btn-primary'>retour au menu</button>
                </a>
        </div>
        {% if type is same as('article') %}
            <div class='row col-12 g-0 justify-content-center'>
                <div class='row col-12 col-md-3 g-0 bg-info bg-opacity-25 border rounded justify-content-center align-self-start'>
                    <form class='col-8 col-md-10 row g-0 justify-content-center my-3' action={{ '/article' }}>
                        {% if nom is same as('') %}
                            <input class='col-10 col-sm-8 col-lg-9 col-lg-4 g-0' type="text" id="search" name="search" placeholder='recherche'>
                        {% else %}
                            <input class='col-10 col-sm-8 col-lg-9 col-lg-4 g-0' type="text" id="search" name="search" placeholder={{ nom }}>
                        {% endif %}
                        <button type="submit" class="btn btn-secondary col-2 col-md-2 g-0 p-1" style='min-width:34px;'>&#x1F50E;</button>
                    </form>
                    <div class='col-10 row g-0 my-3'>
                        {% if categories.findAll()|length < 10 %}
                            <p class='col-12 g-0 m-0'>Categories</p>
                            <a class='col-10 g-0 ms-3 text-dark text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&lieu=' ~ lieu }}><p class='m-0'>Toutes les catégories</p></a>
                            {% for laCategorie in categories.findBy([],{'id': 'ASC'}) %}
                                <a class='col-10 g-0 ms-3 text-dark text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&lieu=' ~ lieu ~ '&categorie=' ~ laCategorie.getId() }}><p class='m-0'>{{ laCategorie.getNom() }}</p></a>
                            {% endfor %}
                        {% else %}
                            {% if categorie is same as('') %}
                                <button class='btn btn-info dropdown-toggle col-12' type='button' id="mesCategories" data-bs-toggle='dropdown' aria-expanded="false">Categorie</button>
                            {% else %}
                                <button class='btn btn-info dropdown-toggle col-12' type='button' id="mesCategories" data-bs-toggle='dropdown' aria-expanded="false">{{ categories.find(categorie).getNom() }}</button>
                            {% endif %}
                            <ul class='dropdown-menu dropdown-menu-middle w-auto' aria-labelledby="mesCategories">
                                <li><a class='dropdown-item text-decoration-none text-center' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&lieu=' ~ lieu }}>Toutes les catégories</a></li>
                                {% for maCategorie in categories.findBy([],{'id': 'ASC'}) %}
                                    <li><a class='dropdown-item text-decoration-none text-center' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&lieu=' ~ lieu ~ '&categorie=' ~ maCategorie.getId() }}>{{ maCategorie.getNom() }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class='col-10 row g-0 my-3'>
                        {% if lieuxachats.findAll()|length < 10 %}
                            <p class='col-12 g-0 m-0'>Lieu d'achat</p>
                            {% for lieuachat in lieuxachats.findBy([],{'id': 'ASC'}) %}
                                <a class='col-10 g-0 ms-3 text-dark text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieuachat.getId()}}><p class='m-0'>{{ lieuachat.getNom() }}</p></a>
                            {% endfor %}
                        {% else %}
                            {% if lieu is same as('') %}
                                <button class='btn btn-info dropdown-toggle col-12' type='button' id="mesLieuxAchats" data-bs-toggle='dropdown' aria-expanded="false">Lieu d'achat</button>
                            {% else %}
                                <button class='btn btn-info dropdown-toggle col-12' type='button' id="mesLieuxAchats" data-bs-toggle='dropdown' aria-expanded="false">{{ lieuxachats.find(lieu).getNom()}}</button>
                            {% endif %}
                            <ul class='dropdown-menu dropdown-menu-middle w-auto' aria-labelledby="mesLieuxAchats">
                                <li><a class='dropdown-item text-decoration-none text-center' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens~ '&categorie=' ~ categorie}}>Tous les lieux d'achats</a></li>
                                {% for monLieuAchat in lieuxachats.findBy([],{'id': 'ASC'}) %}
                                    <li><a class='dropdown-item text-decoration-none text-center' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ monLieuAchat.getId() }}>{{ monLieuAchat.getNom() }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class='row col-12 col-md-9 g-0'>
        {% endif %}
                <div class='row col-12 g-0 col bg-primary justify-content-around bg-opacity-50 text-center border rounded align-self-start'>
                    <div class='dropdown d-flex justify-content-center flex-wrap align-items-center col-md-6 m-2'>
                        <p class='my-0 me-3'>Nombre d'article par page</p>
                        <button class='btn btn-info dropdown-toggle' type='button' id="nbArticles" data-bs-toggle='dropdown' aria-expanded="false">{{ max_product }}</button>
                        <ul class='dropdown-menu' aria-labelledby="nbArticles">
                            <li><a class='dropdown-item text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=25' ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}>25</a></li>
                            <li><a class='dropdown-item text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=50' ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}>50</a></li>
                            <li><a class='dropdown-item text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=75' ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}>75</a></li>
                            <li><a class='dropdown-item text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=100' ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}>100</a></li>
                        </ul>
                    </div>
                    <a class='row col-sm-4 col-md-3 col-lg-2 justify-content-center text-decoration-none m-2' href={{'/' ~ type ~ '/add'}}>
                        <button type='button' class='btn btn-danger'>ajouter</button>
                    </a>
                </div>
                {% if not articles is empty %}
                    <div class='row col-12 border rounded g-0'>
                        {% set color = 1 %}
                        <div class='row col-12 g-0 col bg-primary justify-content-around bg-opacity-50 text-center'>
                            {% if tri is same as('id') %}
                                {% if sens is same as('ASC') %}
                                    <a class='text-decoration-none col-2 col-md-1 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=id&sens=DESC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Id&nbsp;&#x25BC;</p></a>
                                {% else %}
                                    <a class='text-decoration-none col-2 col-md-1 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=id&sens=ASC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Id&nbsp;&#x25B2;</p></a>
                                {% endif %}
                            {% else %}
                                <a class='text-decoration-none col-2 col-md-1 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=id&sens=ASC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Id</p></a>
                            {% endif %}
                            {% if tri is same as('nom') %}
                                {% if sens is same as('ASC') %}
                                    <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=nom&sens=DESC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Nom&nbsp;&#x25BC;</p></a>
                                {% else %}
                                    <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=nom&sens=ASC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Nom&nbsp;&#x25B2;</p></a>
                                {% endif %}
                            {% else %}
                                <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=nom&sens=ASC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Nom</p></a>
                            {% endif %}
                            {% set article = articles[0] %}
                            {% if article.getDateAchat() is defined %}
                                {% if tri is same as('date_achat') %}
                                    {% if sens is same as('ASC') %}
                                        <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=date_achat&sens=DESC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Date d'achat&nbsp;&#x25BC;</p></a>
                                    {% else %}
                                        <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=date_achat&sens=ASC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Date d'achat&nbsp;&#x25B2;</p></a>
                                    {% endif %}
                                {% else %}
                                    <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=date_achat&sens=ASC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Date d'achat</p></a>
                                {% endif %}
                            {% endif %}
                            {% if article.getType() is defined %}
                                {% if tri is same as('type') %}
                                    {% if sens is same as('ASC') %}
                                        <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=type&sens=DESC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Sur place/A distance&nbsp;&#x25BC;</p></a>
                                    {% else %}
                                        <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=type&sens=ASC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Sur place/A distance&nbsp;&#x25B2;</p></a>
                                    {% endif %}
                                {% else %}
                                    <a class='text-decoration-none col-sm-3 mx-auto my-2 text-dark' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ page ~ '&max=' ~ max_product ~ '&tri=type&sens=ASC' ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><p class='m-0'>Sur place/A distance</p></a>
                                {% endif %}
                            {% endif %}
                            <div class='row col-md-5 g-0'></div>
                        </div>
                        {% for article in articles %}
                            {% if color %}
                                {% set color = 0 %}
                                <div class='row col-12 g-0 col bg-info justify-content-around bg-opacity-50 text-center'>
                            {% else %}
                                {% set color = 1 %}
                                <div class='row col-12 g-0 col bg-light justify-content-around text-center'>
                            {% endif %}
                                <p class='col-2 col-md-1 m-auto'> {{ article.getId() }}</p>
                                <p class='col-sm-3 m-auto' my-2>{{article.getNom()}}</p>
                                {% if article.getDateAchat() is defined %}
                                    <p class=' col-sm-3 m-auto'>{{article.getDateAchat()|date('Y-m-d')}}</p>
                                {% endif %}
                                {% if article.getType() is defined %}
                                    <p class=' col-sm-3 m-auto'>{{article.getType()}}</p>
                                {% endif %}
                                <div class='row col-md-5 g-0'>
                                    {% if type is same as('categorie') %}
                                        <a class='col text-decoration-none m-sm-2' href={{'/' ~ type ~ '/' ~ article.getId()}}><button type='button' class='btn btn-primary mx-1'>Modifier</button></a>
                                    {% else %}
                                        <a class='col text-decoration-none m-sm-2' href={{'/' ~ type ~ '/' ~ article.getId()}}><button type='button' class='btn btn-primary mx-1'>Plus d'infos</button></a>
                                    {% endif %}
                                    <a class='col text-decoration-none m-sm-2' href={{'/' ~ type ~ '/delete/' ~ article.getId()}}><button type='button' class='btn btn-danger mx-1'>Supprimer</button></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class='row col-12 justify-content-center my-3'>
                        {% if not page is same as('1') %}
                            <a class='col col-md-2 d-flex justify-content-center text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ (page - 1) ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><button type='button' class='btn btn-primary'>Previous</button></a>
                            <a class='col col-sm-1 d-flex justify-content-center text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=1' ~ '&max=' ~ max_product  ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><div class='p-2'>1</div></a>
                            <div class='col col-sm-1 d-flex justify-content-center text-decoration-none'>...</div>
                        {% endif %}
                        <div class='dropdown d-flex justify-content-center col-sm-1 col'>
                            <button class='btn btn-info dropdown-toggle' type='button' id="dropdownMenuButton1" data-bs-toggle='dropdown' aria-expanded="false">{{page}}</button>
                            <ul class='dropdown-menu' aria-labelledby="dropdownMenuButton1">
                            {% for p in 1..nbPageMax %}
                                <li><a class='dropdown-item text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ p ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}>{{ p }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% if not page is same as(nbPageMax) %}
                            <div class='col col-sm-1 d-flex justify-content-center'>...</div>
                            <a class='col col-sm-1 d-flex justify-content-center text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ nbPageMax ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><div class='p-2'>{{ nbPageMax }}</div></a>
                            <a class='col col-md-2 d-flex justify-content-center text-decoration-none' href={{'/' ~ type ~ '?search=' ~ nom ~ '&page=' ~ (page + 1) ~ '&max=' ~ max_product ~ '&tri=' ~ tri ~ '&sens=' ~ sens ~ '&categorie=' ~ categorie ~ '&lieu=' ~ lieu }}><button type='button' class='btn btn-primary'>Next</button></a>
                        {% endif %}
                    </div>
                {% endif %}
                {% if type is same as('article') %}
            </div>
        </div>
        {% endif %}
    <div>
{% endblock %}