{# templates/accueil/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <body>
        <div class='flex space-between align-center'>
            <h1>{{ page_title }}</h1>
            <a href={{'/'}}>retour au menu</a>
        </div>

        <div class='flex justify-center '>
            <a href={{'/' ~ type ~ '/add'}}>
                <button class='marg-0 pad-25-low-bottom radius-25-top border bg-color-red'>ajouter</button>
            </a>
        </div>
        <div class='flex column marg-0-10 border radius-25 of-hidden relative'>
            {% for article in articles %}
            
                {% if article.getId() is divisible by(2) %}
                    <div class='flex bg-color-blue'>
                {% else %}
                    <div class='flex bg-color-grey'>
                {% endif %}
                    <p class='pad-5-only-right'>{{ article.getId() }}</p>
                    <div class='flex space-between align-center pad-0-10 full-width'>
                        {% if type is same as('categorie') %}
                            <a href={{'/' ~ type ~ '/' ~ article.getId()}}>Modifier</a>
                        {% else %}
                            <a href={{'/' ~ type ~ '/' ~ article.getId()}}>Plus d'infos</a>
                        {% endif %}
                        <p>{{article.getNom()}}</p>
                        {% if article.getDateAchat() is defined %}
                            <p>{{article.getDateAchat()|date('Y-m-d')}}</p>
                        {% endif %}
                        <a href={{'/' ~ type ~ '/delete/' ~ article.getId()}}>Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
{% endblock %}