{# templates/accueil/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <body>
        <h1>{{ page_title }}</h1>

        <div class='flex pad-0-10 space-between align-center'>
            <form>
                <input type='text' name='search'>
                <input type='submit' value='search'>
            </form>
            {% if not user is same as(null) %}
                    Hello {{ user.getUserIdentifier() }}!
                    <a href="{{ path('app_logout') }}">
                        <button>Se déconnecter</button>
                    </a>
            {% endif %}
            
            {% if user is same as(null) %}
                <div class='flex'>
                    <a href="{{ path('login') }}">
                        <button>Se connecter</button>
                    </a>
                    <a href="{{ path('app_register') }}">
                        <button>Créer un compte</button>
                    </a>
                </div>
            {% endif %}
            
        </div>

        <div class='flex pad-0-10 justify-center'>
            <a href="{{ path('article_showAll') }}">
                <button>Liste articles</button>
            </a>
            <a href="{{ path('categorie_showAll') }}">
                <button>Liste catégories</button>
            </a>
            <a href="{{ path('lieuAchat_showAll') }}">
                <button>Liste fournisseurs</button>
            </a>
        </div>
    </body>
{% endblock %}