{# templates/accueil/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <body>
        <h1>{{ page_title }}</h1>

        
        {% if not user is same as(null) %}
            <div class='flex space-between align-center'>
                Hello {{ user.getUserIdentifier() }}!
                <a href="{{ path('app_logout') }}">
                    <button>Se déconnecter</button>
                </a>
            </div>
        {% endif %}
        
        {% if user is same as(null) %}
            <div class='flex end'>
                <a href="{{ path('login') }}">
                    <button>Se connecter</button>
                </a>
                <a href="{{ path('app_register') }}">
                    <button>Créer un compte</button>
                </a>
            </div>
        {% endif %}

        <div class='flex center'>
            <a href="{{ path('article_showAll') }}">
                <button>Liste articles</button>
            </a>
            <a>
                <button>Liste catégories</button>
            </a>
            <a>
                <button>Liste fournisseurs</button>
            </a>
        </div>
    </body>
{% endblock %}